/* BASE CSS (Semantic UI) */
* {
	border-radius: 0 !important;
}

.right.menu .item:last-child {
	border-right: 1px solid rgba(34, 36, 38, 0.1);
}

.ui.footer.segment {
	margin: 5em 0 0;
	padding: 5em 0;
}

.ui.labeled.input .ui.label .icon {
	margin: 0;
}

body ::-webkit-scrollbar-thumb {
	border-radius: 0;
}

/* THEME CSS (CMS FlyFF) */
body {
	background: url('/img/background.jpg') no-repeat #ffffff;
	background-size: cover;
}

section.logo {
	margin: 50px 0;
	text-align: center;
}

main.ui.container {
	display: flex;
}

main.ui.container aside {
	width: 250px;
	margin-right: 15px;
}

main section.content {
	flex: 1;
}

.box .ui.attached.message, .ui.labeled.input .ui.label {
	background-color: #e8dcc6;
}

.ui.menu.stackable .ui.container a.active {
	background-color: white;
}

.ui.menu.stackable .ui.container a.active::after {
	content: "";
	border-bottom: 6px solid #caba9e;
	bottom: -1px;
	left: 0;
	right: 0;
	position: absolute;
	width: 100%;
}

.box {
	margin-bottom: 15px;
}

@media screen and (max-width: 991px) {

	main.ui.container aside {
		width: 100%;
		margin-right: 0;
	}

	main.ui.container {
		display: block;
	}
}