* {
    --primary-color: #27a4ca;
    --primary-color-hover: #2386a5;
}

header.ui.menu {
    width: 100%;
    margin: 0;

    .item.header {
        width: 224px;
        span {
            margin-left: 10px;
        }
    }
}

section.container {
    display: flex;
    height: calc(100vh - 50px);

    nav.ui.vertical.menu {
        overflow-x: auto;
        flex-basis: 225px;
        margin: 0;
        border-bottom: 0;
        border-top: 0;
    }

    main {
        flex: 1;
        height: calc(100vh - 50px);
        overflow-x: auto;

        h1 {
            div.ui.breadcrumb.right.floated {
                margin-top: 10px;
            }
        }

        h1, article, section {
            margin: 15px;
        }
    }
}